.subpagelist-top ul{margin:0}.subpagelist-top li{list-style-type:none}.subpagelist-top img{display:inline !important;padding-right:.5em;width:30px}.subpagelist-top p,.subpagelist-top .level{display:none}.subpagelist-top p.expanded,.subpagelist-top .level.expanded{display:block}.subpagelist-top .level{padding:.5em 0}.subpagelist-top .level>ul.children{margin:0 0 0 1.25em}.subpagelist-top .button{margin-left:.2em;padding:0 .4em;float:right;background:lightgrey;font-variant:small-caps;cursor:pointer}

/*# sourceMappingURL=style.css.map */