.subpagelist-top {

    ul {
        margin: 0;
    }

    li {
        list-style-type: none;
    }

    img {
        // images must always be inline
        display: inline !important;
        padding-right: .5em;
        width: 30px;
    }

    // display no contents or sublevels by default
    p,
    .level {
        display: none;

        &.expanded {
            display: block;
        }
    }

    .level {
        padding: .5em 0;

        // indentation at each subpage level
        > ul.children {
            margin: 0 0 0 1.25em;
        }
    }

    .button {
        margin-left: .2em;
        padding: 0 .4em;
        float: right;
        background: lightgrey;
        font-variant: small-caps;
        cursor: pointer;
    }
}
